.login {
    height: 100%;
    width: 100%;
    display:flex;
}

h1 {
    text-shadow: -2px 1px rgba(black, 0.1);
}

.login .center {
    margin: auto;
    width: 80%;
    text-align: center;
}

form {
    margin: auto;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    width: 20rem;
}


.login .buttonContainer {
    margin-top: 82px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}